.login-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(14, 137, 14, 0.997);
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.8);
}
body {
  background-image:url(https://img.freepik.com/free-vector/silhouette-forest-landscape-background_1308-70459.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
  
.login-container h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 35px;
    text-decoration: bo;
  }
  
  .login-container form {
    margin-top: 20px;
  }
  
  .login-container label,
  .login-container input,
  .login-container button {
    display: block;
    margin-bottom: 10px;
  }
  
  .login-container input {
    width: calc(100% - 20px); /* Adjust width to accommodate padding */
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-container button {
    width: 100%;
    padding: 8px 0;
    background-color: #007bff; /* Optional: Set button background color */
    color: #fff; /* Optional: Set button text color */
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0056b3; /* Optional: Set button hover background color */
}