@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@600&family=Lobster&family=PT+Serif:wght@700&family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body {
  background-color: rgba(203, 225, 205, 0.37);
  margin-left: 0;
  margin-right: 0;
  font-family: "Poppins", sans-serif;
}
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background-color: green;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 5px;
}
ul {
  list-style: none;
}
.nav-links li {
  margin: 0 30px;
}
nav .logo_trial {
  width: 110px;
  padding-left: 40px;
  height: 50px;
  margin-top: 10px;
}

nav ul li a:hover {
  background-color: gray;
}
.content {
  text-align: center;
}
.content h1 {
  font-family: "Lobster", sans-serif;
  font-size: 70px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding-top: 5.5cm;
  text-shadow: 1px 1px 1px #000000, 1px 2px 1px #000000, 1px 3px 1px #000000,
    1px 4px 1px #000000, 1px 5px 1px #000000, 1px 6px 1px #000000,
    1px 7px 1px #000000, 1px 8px 1px #000000, 1px 9px 1px #000000,
    1px 10px 1px #000000;
  animation-duration: 2s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-top: 50%;
  }
  to {
    margin-bottom: 0;
  }
}

.content h2 {
  font-family: "Playfair Display", serif;
  font-size: 65px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-shadow: 1px 1px 1px #000000, 1px 2px 1px #000000, 1px 3px 1px #000000,
    1px 4px 1px #000000, 1px 5px 1px #000000, 1px 6px 1px #000000,
    1px 7px 1px #000000, 1px 8px 1px #000000, 1px 9px 1px #000000,
    1px 10px 1px #000000;
}
.content p {
  font-size: 27px;
  color: white;
  font-weight: 600;
  padding-bottom: 5cm;
  padding-left: 2cm;
  padding-right: 2cm;
  text-shadow: 1px 1px 1px #000000, 1px 2px 1px #000000, 1px 3px 1px #000000,
    1px 4px 1px #000000;
}
@media (max-width: 992px) {
  .content {
    height: 750px;
    margin: 0;
  }
  #homecontent {
    margin: 0;
    color: rgb(200, 197, 197);
  }
  .content h1 {
    padding: 30px;
    color: rgb(200, 197, 197);
  }
}
.background-video {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  margin: 0;

  min-height: 100vh;
  width: auto;
  max-width: 100%;
  background-size: cover;
}
@media (max-width: 992px) {
  #vvv {
    margin: 0;
  }
}
.menu-btn {
  position: absolute;
  top: 0;
  right: 10px;
  width: 40px;
  cursor: pointer;
  display: none;
}

/* Mobile respensive */

@media only screen and (max-width: 850px) {
  .menu-btn {
    display: block;
  }
  .navbar {
    padding: 0;
    background-color: green;
  }
  .logo_trial {
    position: absolute;
  }
  .nav-links {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin-top: -900px;
  }
  .mobile-menu {
    margin-top: 0px;
  }
  .nav-linka li {
    margin: 30px auto;
  }
  #vvv {
    display: none;
  }
}
.intro-home {
  padding: 60px;
}

.intro-home p {
  font-size: 23px;
  line-height: 50px;
  text-align: left;
}
@media (max-width: 992px) {
  .intro-home {
    padding-top: 600px;
  }
}
.secrets-container {
  display: flex;
  flex-direction: column;
}
#section-3 {
  display: flex;
  gap: 100px;
  padding: 60px;
  background-color: rgb(7, 91, 7);
  color: white;
  margin-top: 0;
}
.secret {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid white;
}
.secret h1 {
  width: 300px;
  font-size: 50px;
}
.inverse {
  flex-direction: row-reverse;
}
.secret-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.secrets-container img {
  height: 200px;
  max-width: 150px;
}
@media (max-width: 992px) {
  #section-3 {
    flex-direction: column;
  }
  .secrets-container {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    max-width: 100%;
  }
  .secret-flex {
    flex-direction: column;
  }
  .secrets-container img {
    max-width: 100%;
    height: 100%;
  }
  .secret {
    border-right: none;
  }
  .secret h1 {
    font-size: 48px;
    text-decoration: underline;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }
}
#times {
  margin: 100px;
}
.times1 h1 {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}
.lest {
  text-align: left;
  margin: 60px;
  font-size: 20px;
}

#news {
  background-image: url(Images/news\ section\ background\ img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 60px 0;
  margin-top: 150px;
  background-attachment: fixed;
}
.date {
  font-size: 15px;
  text-align: left;
}
.news-section h1 {
  font-size: 40px;
  font-style: italic;
  top: 20px;
  text-align: center;
  padding-top: 20px;
  color: white;
  text-shadow: 1px 1px #000000, 1px 2px 1px #000000;
}
.box-and-text {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
@media (max-width: 992px) {
  .box-and-text {
    flex-wrap: wrap;
    gap: 30px;
  }
}

.box {
  width: 270px;
  height: 440px;
  box-shadow: 0 8px 12px #000000;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  margin-left: 20px;
  background-color: white;
  transition: ease-in 0.5s;
}
.box:hover {
  transform: scale(0.9);
}
.box h2 {
  font-style: oblique;
  font-size: 25px;
}
/* Applying all small img div tags */
.small img {
  width: 270px;
  height: 350px;
  display: flex;
}
.background-with-text {
  padding-top: 55px;
}
.background-with-text img {
  width: 100%;
  height: 100%;
  z-index: -1;
}
#WDOC-section {
  margin-top: 100px;
}

#footer-section {
  margin-top: 100px;
  position: absolute;
  color: white;
  width: 100%;
  background-color: green;
}

.footer ul {
  list-style: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 20%;
  padding: 0 36px;
}
.footer-col h4 {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.footer-col ul li a {
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  display: block;
  text-decoration: none;
}

.social-links img {
  width: 20px;
  height: 40px;
}
#footer2 {
  text-align: center;
  color: green;
  font-size: 15px;
  padding: 5px;
  background-color: white;
}

/* Leopard page */

#intro1 {
  background-image: url(Images/Lepord\ picture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 60%;
  background-attachment: fixed;
}
#table1 {
  margin: 60px;
}

/* mobile response */

@media (max-width: 992px) {
  #intro1 {
    background-size: 100%;
  }
  .intro1-text h1 {
    margin: 0;
  }
  #table1 {
    margin-top: 0;
  }
}

.intro1-text h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 75px;
  color: white;
  display: flex;
  align-items: right;
  justify-content: flex-end;
  padding-top: 200px;

  text-shadow: 1px 1px 1px #000000, 1px 2px 1px #000000, 1px 3px 1px #000000,
    1px 4px 1px #000000, 1px 5px 1px #000000, 1px 6px 1px #000000,
    1px 7px 1px #000000, 1px 8px 1px #000000, 1px 9px 1px #000000,
    1px 10px 1px #000000;
  animation: 2s slideleft;
}
@keyframes slideleft {
  from {
    margin-top: 0;
  }
  to {
    margin-bottom: 50%;
  }
}

.table {
  height: 200px;
  padding-top: 500px;
}
th {
  height: 50px;
  color: rgb(235, 118, 35);
  font-style: italic;
  font-weight: 1000;
}
td {
  height: 65px;
}
#section-4 {
  gap: 100px;
  margin: 60px;
}
.intro {
  margin-top: 60px;
  margin-bottom: 60px;
}
.intro h1 {
  font-size: 50px;
  margin: 60px;
  text-align: center;
}

.content3 {
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid rgb(0, 0, 0);
}
.intro p {
  font-size: 20px;
  line-height: 30px;
}
.secret-flex1 {
  display: flex;
  gap: 50px;
  margin: 60px;
}
.invers1 {
  flex-direction: row-reverse;
}
.secret-flex1 img {
  border-radius: 10px;
}
.yala-pic {
  box-shadow: 4px 7px 7px 0px #000000;
  border-radius: 2px;
}
@media (max-width: 992px) {
  .secret-flex1 {
    flex-direction: column-reverse;
  }
  .yala-pic {
    width: 600px;
    height: 400px;
  }
}

#threat-head {
  text-align: center;
  font-size: 45px;
  margin: 60px;
}
.threat-head {
  text-align: left;
  font-size: 20px;
  margin: 60px;
}

#threat-section {
  display: flex;
  margin: 40px;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgb(122, 197, 125);
  border-radius: 20px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.8);
}
@media (max-width: 992px) {
  #threat-section {
    flex-direction: column-reverse;
  }
}
#threat-section img {
  width: 600px;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.8);
}
.sub1dis {
  font-size: 20px;
  text-align: center;
}
.sub1dis p {
  line-height: 1.5;
  text-align: left;
  margin-left: 30px;
}
#link-1 {
  margin: 40px;
  text-align: right;
}

/* sri lankan animals page */

#intro5 {
  background-image: url(Images/SLA\ M\ pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60%;
  position: absolute;
  width: 100%;
  background-attachment: fixed;
}

/* Mobile */
@media (max-width: 992px) {
  #intro5 {
    background-size: 100%;
  }
  .intro5-text h1 {
    margin-top: 200px;
  }
}
.intro5-text h1 {
  color: white;
  padding-top: 100px;
  font-size: 70px;
  text-align: center;
  text-shadow: 1px 1px 1px #000000, 1px 2px 1px #000000, 1px 3px 1px #000000,
    1px 4px 1px #000000, 1px 5px 1px #000000, 1px 6px 1px #000000,
    1px 7px 1px #000000, 1px 8px 1px #000000, 1px 9px 1px #000000,
    1px 10px 1px #000000;
    animation: 2s slideleft;
}


#asd {
  padding-top: 500px;
  margin: 60px;
}
.asd-1 {
  font-size: 25px;
}
@media (max-width: 992px) {
  #asd {
    padding-top: 700px;
  }
  .asd-1 {
    font-size: 10px;
  }
}
#iconic-animals {
  margin: 60px;
}
#iconic-animals h1 {
  font-size: 40px;
  text-align: center;
}

.subtopic-1-text img {
  box-shadow: 4px 7px 7px 0px #000000;
  border-radius: 2px;
}
.subtopic-1 {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
}
.subtopic-1-text {
  display: flex;
  flex-direction: row;
  margin: 60px;
}
.subtopic-1-text2 {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
.inverse {
  flex-direction: row-reverse;
}

#link {
  margin: 60px;
  background-attachment: fixed;
  height: 300px;
  background-color: rgb(49, 141, 52);
}
.linkhead p {
  font-size: 20px;
  margin: 30px;
  text-shadow: 1px px 1px #000000;

  line-height: 30px;
  color: white;
}
/* mobile */
@media (max-width: 992px) {
  #link {
    height: auto;
  }
  .linkhead p {
    font-size: 20px;
    line-height: 50px;
  }
  .subtopic-1-text {
    flex-direction: column-reverse;
  }
  .subtopic-1-text img {
    margin: 60px;
  }
}

/* Introduction page  */

#intro-1 {
  background-image: url(Images/introduction\ pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 60%;
  width: 100%;

  background-attachment: fixed;
}
.mapandgallery {
  margin: 60px;
}
.mapandgallery iframe {
  width: 100%;
}
.mapimg {
  max-width: 100%;
}
.two-images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.two-images img {
  width: 50%;
  height: 50%;
}
/* mobile response intro */

@media (max-width: 992px) {
  #intro-1 {
    background-size: 100%;
  }
  .intro-1-text h1 {
    text-align: center;
  }
  #intro-2 {
    margin-top: 60px;
  }
  .mapandgallery {
    margin: 0;
  }

  .two-images {
    flex-direction: column;
  }
  .two-images img {
    width: 100%;
    height: 100%;
  }
}

.intro-1-text h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 70px;
  color: white;
  font-weight: 600;
  text-align: center;
  padding-top: 120px;
  text-shadow: 1px 1px 1px #000000, 1px 2px 1px #000000, 1px 3px 1px #000000,
    1px 4px 1px #000000, 1px 5px 1px #000000, 1px 6px 1px #000000,
    1px 7px 1px #000000, 1px 8px 1px #000000, 1px 9px 1px #000000,
    1px 10px 1px #000000;
    animation: 2s slideleft;
}
#intro-2 {
  padding-top: 450px;
  margin: 25px;
  font-size: 25px;
  line-height: 35px;
}
.text-1 {
  padding: 60px;
  line-height: 50px;
}
#forest {
  margin: 60px;
}
.foresttext h1 {
  font-size: 35px;
}
.foresttext p {
  font-size: 20px;
  line-height: 40px;
}

.mapimg {
  margin: 60px;
  box-shadow: 10px 7px 7px 0px #00000042;
  border-radius: 10px;
}
#table2 {
  margin: 60px;
}
table {
  width: 100%;
}
.table-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row1 {
  background-color: green;
}

/* DOWC Page */

.main-img-DOWC {
  width: 100%;
  height: 300px;
  margin-top: 30px;
}
.header2 {
  margin-left: 20px;
  font-size: 40px;

  
}
#introdowc p {
  font-size: 20px;
  margin: 30px;
  line-height: 35px;
}
.areas-text {
  text-align: center;
  font-size: 40px;
  margin: 50px;
}
.Gallerdowc-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.box1 {
  width: 250px;
  height: 450px;
  box-shadow: -1px 0 10px #000000;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  background-color: white;
  margin: 20px;
  transition: ease-in 0.5s;
}
.box1:hover {
  transform: scale(0.9);
  
}
.dowcimg {
  width: 250px;
  height: 300px;
  display: flex;
}
.box1 h2 {
  color: green;
}
.dowcmap {
  margin: 60px;
  width: 90%;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #000000;
}
.social-links ul {
  display: flex;
  gap: 30px;
}
.social-links img {
  width: 32px;
  height: 32px;
  padding: 2px;
  border: 1px solid white;
  border-radius: 10px;
}
